@use '../utils/functions' as *;
@use '../utils/breakpoints' as *;

.login-container {
  padding: rem(0) rem(25);
  min-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: rem(16);
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--dark-bg-primary);
  color: var(--dark-text2);

  @include breakpoint(large) {
    padding: rem(16);
    padding: rem(0) rem(25);
  }

  .logo-container {
    margin-top: rem(32);
    img {
      width: rem(150);
      height: rem(150);

      @include breakpoint(xlarge) {
        width: rem(200);
        height: rem(200);
      }
    }
  }
  form {
    background: transparent;
    border-radius: rem(4.8);
    max-width: clamp(300px, 10rem, 10rem);
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-top: rem(17.6);
    input {
      background: rgba(255, 255, 255, 0.9);
      padding: rem(11.2) rem(6.4);
      margin-bottom: rem(16);
      font-size: rem(17.6);
      border: none;
      border-radius: rem(3.2);
      width: 100%;
      color: var(--dark-bg-primary);
      &:focus {
        font-size: rem(17.6);
      }
    }
    p {
      text-align: center;
      margin-bottom: rem(17.6);
      .register-link {
        color: pink;
      }
    }
    button {
      width: 100%;
      display: inline-block;
      background: transparent;
      color: var(--logo-teal);
      font-size: clamp(1rem, 1.25vw, 1.25rem);
      padding: rem(14.4) rem(20.8);
      margin: rem(16) rem(0);
      border: rem(1) solid var(--dark-accent);
      border-radius: rem(4.8);
      cursor: pointer;
      transition: 0.3s ease;
      box-shadow: rgba(123, 111, 130, 0.25) rem(0) rem(54) rem(55),
        rgba(18, 118, 120, 0.269) rem(0) rem(-12) rem(30),
        rgba(12, 188, 201, 0.12) rem(0) rem(4) rem(6),
        rgba(17, 135, 162, 0.42) rem(0) rem(12) rem(13),
        rgba(32, 162, 191, 0.694) rem(0) rem(-3) rem(5);
      &:hover {
        background: var(--dark-accent);
        color: var(--dark-bg-primary);
      }
    }
  }
  .arrows {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--logo-teal);

    .arrow-1 {
      font-size: rem(32);
      position: absolute;
    }
    .arrow-2 {
      font-size: rem(64);
    }
  }
}

.home-link {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: rem(32);
  font-size: rem(96);
  color: var(--dark-accent);
  transition: color 0.2s ease;
  &:hover {
    color: var(--logo-teal);
  }
}

.summit-hero-container {
  background: var(--bg-grad);
  color: var(--dark-text2);
}

.summit-hero-1,
.summit-hero-2,
.summit-hero-3 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .up-down-icon {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--dark-accent-faint);
  }
  .summit-hero-text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: rem(40);
    outline: 1px solid var(--dark-accent-faint);
    h1 {
      font-family: var(--font-poppins);
      background-image: var(--bg-grad-contact);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 300%;
      animation: gradanim 5s infinite alternate;
      margin-bottom: 0;
    }
    p {
      font-size: rem(16);
    }

    .arrows {
      position: relative;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--logo-teal);
      margin: rem(15) 0 0 0;
      .arrow-1 {
        font-size: rem(32);
        position: absolute;
      }
      .arrow-2 {
        font-size: rem(64);
      }
    }
  }
}

//* Contact form

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;

  .contact-header {
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-inter);
      font-size: rem(30);
      color: var(--dark-text2);

      h1 {
        margin-bottom: 0;
        font-size: rem(35);
      }
    }

    p {
      font-family: Arial, Helvetica, sans-serif;
      color: var(--dark-bg-primary);
      font-size: clamp(1rem, 1.25vw, 1.25rem);
      font-weight: 300;
      margin: rem(5) 0;
    }
  }
  .form-container {
    background: transparent;
    box-shadow: rgba(7, 66, 63, 0.404) -5px 5px,
      rgba(10, 88, 85, 0.3) -10px 10px, rgba(31, 163, 152, 0.2) -15px 15px,
      rgba(46, 233, 240, 0.1) -20px 20px,
      rgba(46, 227, 240, 0.05) -25px 25px;
    border-radius: 0.3em;
    outline: 1px solid rgba(0, 128, 128, 0.39);
    padding: rem(8);
    width: rem(400);
    transition: 300ms ease;
    @include breakpoint(large) {
      width: rem(600);
    }
    .form-input-name-container,
    .form-input-email-container,
    .form-input-textarea-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      width: 100%;
      font-family: var(--font-poppins);
      @include breakpoint(large) {
        width: 100%;
      }
      label {
        margin-bottom: 0.1em;
        color: var(--dark-bg-primary);
      }
      input {
        background: rgba(255, 255, 255, 0.4);
        // background: transparent;
        color: var(--dark-bg-primary);
        padding: rem(8) rem(4);
        margin-bottom: rem(4);
        font-size: 1.1em;
        border: none;
        // outline: 1px solid rgba(90, 212, 221, 0.767);
        border-radius: rem(4);
      }
    }
    .recaptcha {
      margin: 1em 0;
    }
    button {
      width: 100%;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      background: transparent;
      color: var(--dark-bg-primary);
      font-size: clamp(1rem, 1.25vw, 1.25rem);
      padding: rem(15) rem(0);
      margin: 1em 0;
      border: 1px solid rgba(0, 128, 128, 0.473);
      border-radius: 0.3em;
      cursor: pointer;
      transition: 0.3s ease;
      box-shadow: rgba(123, 111, 130, 0.25) 0px 54px 55px,
        rgba(18, 118, 120, 0.269) 0px -12px 30px;

      &:hover {
        background: var(--dark-bg-secondary);
        color: var(--dark-text2);
      }
    }
  }
  .arrows {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-bg-primary);
    margin: rem(15) 0 0 0;
    .arrow-1 {
      font-size: rem(32);
      position: absolute;
    }
    .arrow-2 {
      font-size: rem(64);
    }
  }

  .submit-message {
    font-size: rem(20);
    font-family: var(--font-poppins);
    background-image: var(--bg-grad-contact);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: gradanim 5s infinite alternate;
  }
}

@keyframes gradanim {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
