.login-container {
  padding: 0 25px;
  min-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--dark-bg-secondary);
  color: var(--dark-text2);

  .logo-container {
    margin-top: 2rem;
    img {
      width: 300px;
      height: 300px;
    }
  }
  form {
    background: transparent;
    border-radius: 0.3em;
    max-width: clamp(300px, 10rem, 10rem);
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-top: 1.1em;
    input {
      background: rgba(255, 255, 255, 0.9);
      padding: 0.7em 0.4em;
      margin-bottom: 1em;
      font-size: 1.1em;
      border: none;
      border-radius: 0.2em;
      width: 100%;
      color: var(--dark-bg-primary);
      &:focus {
        font-size: 1.1em;
      }
    }
    p {
      text-align: center;
      margin-bottom: 1.1em;
      .register-link {
        color: pink;
      }
    }
    button {
      width: 100%;
      display: inline-block;
      background: transparent;
      color: var(--logo-teal);
      font-size: clamp(1rem, 1.25vw, 1.25rem);
      padding: 0.9em 1.3em;
      margin: 1em 0;
      border: 1px solid var(--dark-accent);
      border-radius: 0.3em;
      cursor: pointer;
      transition: 0.3s ease;
      box-shadow: rgba(123, 111, 130, 0.25) 0px 54px 55px,
        rgba(18, 118, 120, 0.269) 0px -12px 30px,
        rgba(12, 188, 201, 0.12) 0px 4px 6px,
        rgba(17, 135, 162, 0.42) 0px 12px 13px,
        rgba(32, 162, 191, 0.694) 0px -3px 5px;
      &:hover {
        background: var(--dark-accent);
        color: var(--dark-bg-primary);
      }
    }
  }
  .arrows {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .arrow-1 {
      font-size: 2rem;
      position: absolute;
    }
    .arrow-2 {
      font-size: 4rem;
    }
  }
}

.home-link {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  font-size: 6em;
  color: var(--dark-accent);
  transition: color 0.2s ease;
  &:hover {
    color: var(--logo-teal);
  }
}
