@use '../utils/functions' as *;

html {
  // this helps with accessibility. user is able to adjust fontsize in their browser
  font-size: 100%;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: rem(12);
}

*::-webkit-scrollbar-track {
  background: rgb(20, 24, 46);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-card-hover);
}

body {
  margin: 0;
  padding: 0;
  background: var(--dark-bg-primary);
}
