:root {
  --logo-teal: hsl(175, 62%, 57%);
  --logo-teal-faint: hsla(175, 62%, 57%, 0.603);

  --dark-accent: hsl(175, 93%, 53%);
  --dark-accent-faint: hsla(175, 93%, 53%, 0.253);

  // card
  --date: hsla(175, 93%, 53%, 0.733);
  --pb: hsla(64, 93%, 53%, 0.863);
  --set: hsla(115, 78%, 52%, 0.788);
  --rep: hsla(229, 93%, 53%, 0.87);

  //*dark theme
  --dark-bg-primary: hsl(228, 65%, 8%);
  --dark-bg-secondary: hsla(229, 57%, 11%, 0.925);
  --dark-top-bg: hsl(232, 19%, 15%);
  --dark-card: hsl(228, 28%, 20%);
  --dark-text2: hsl(0, 0%, 86%);
  --dark-card-hover: hsl(228, 25%, 27%);

  //*light theme
  --light-bg: hsl(0, 0%, 100%);
  --light-top-bg: hsl(225, 100%, 98%);
  --light-card: hsl(227, 47%, 96%);
  --light-text1: hsl(228, 12%, 44%);
  --light-text2: hsl(230, 17%, 14%);
}
