@use '../utils/functions' as *;
@use '../utils/breakpoints' as *;

.exercise-group-container {
  background: var(--dark-bg-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: rem(80);
  h1 {
    color: var(--logo-teal);
    margin: rem(16) 0;
    font-family: var(--font-poppins);
    font-weight: 100;
  }
  .exercise-links {
    display: flex;
    gap: rem(16);
    button {
      font-size: rem(20.8);
      background: transparent;
      color: var(--dark-text2);
      border: rem(1) solid var(--logo-teal);
      box-shadow: rgba(0, 0, 0, 0.15) rem(1.95) rem(1.95) rem(2.6);
      padding: rem(4.8) rem(9.6);
      cursor: pointer;
      transition: 300ms all;
      &:hover {
        background: var(--dark-card-hover);
      }
    }
  }
  h2 {
    margin-top: rem(32);
    color: var(--dark-text2);
    font-weight: 300;
    font-size: rem(32);
  }
  .weight-input-container {
    margin-top: rem(32);
    display: flex;
    flex-direction: column;
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: rem(350) rem(250) rem(100);
      grid-template-rows: repeat(2, 1fr);
      row-gap: rem(16);
      place-content: center;
    }

    @include breakpoint(large) {
      display: grid;
      grid-template-columns: rem(350) rem(250) rem(100);
      grid-template-rows: repeat(2, 1fr);
      row-gap: rem(16);
      place-content: center;
    }

    label {
      display: flex;
      align-items: center;
      padding: rem(3.2) rem(8);
      border: rem(1) solid var(--logo-teal-faint);
      color: var(--dark-text2);
    }
    input {
      font-size: rem(24);
      padding: rem(3.2) rem(8);
      border: rem(1) solid var(--logo-teal-faint);
      box-shadow: rgba(0, 0, 0, 0.15) rem(1.95) rem(1.95) rem(2.6);
    }
    button {
      font-size: rem(24);
      background: transparent;
      color: var(--dark-text2);
      border: rem(1) solid var(--logo-teal-faint);
      box-shadow: rgba(0, 0, 0, 0.15) rem(1.95) rem(1.95) rem(2.6);
      padding: rem(3.2) rem(8);
      cursor: pointer;
      transition: 300ms all;
      &:hover {
        background: var(--dark-card-hover);
      }
    }
  }
}
